<div class="embed video-player">
<iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" src="https://kolektiva.media/videos/embed/{{ index .Params 0 }}" frameborder="0" allowfullscreen>
</iframe>
</div>
